<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Test</title>
        <link rel="stylesheet" href="/styles/style.scss">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
        <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
    </head>

    <body>
    <div class="container">

        <div class="banner">
        <header>
                Travel Planner
        </header>
        </div>

        <main>
            <DIV class="trip">
                <div class="box">

                    image: <div id="image"></div>

                </div>
            <section>
                <div class="box">

                        place: <div id="location"></div>
                        <br>

                        date: <div id="time"></div>
                        <br>

                        date until trip: <div id="daysUntil"></div>
                        <br>

                        high: <div id="high"></div>
                        <br>

                        low: <div id="low"></div>
                        <br>

                        forecast: <div id="forecast"></div>

                        

                </div>
            </section>
            </DIV>

                <div class="form">

                    <section>
                    <input id="place" type="text" name="input" value="" placeholder="Enter Location" size="48" required><br>
                    <input id="date" type="text" name="input" value="" placeholder="MM/DD/YYYY" size="48" required><br>
                    <button id="generate">Submit</button>
                    <button id='removeTrip'>Remove Trip </button>
                    <section>
                </div>

        </main>
        <div class="footer">
        <footer>
            <p>Michael Wycklendt      Udacity</p>
        </footer>
        </div>
    </div>
    </body>
</html>
