<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Test</title>
        <link rel="stylesheet" href="/styles/style.scss">
        <link rel="stylesheet" href="/styles/form.scss">
        <link rel="stylesheet" href="/styles/header.scss">
        <link rel="stylesheet" href="/styles/footer.scss">


        <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
    </head>

    <body>

        <header>
            <div class="logo">
                Travel App
            </div>
        </header>

        <main>
            <section>
                <div class="holder">

                    <input id="place" type="text" name="input" value="" placeholder="Enter Location" size="48" required>
                    <input id="date" type="text" name="input" value="" placeholder="MM/DD/YYYY" size="48" required>
                    <button id="generate">Submit</button>

                </div>
            <section>

            <section>
                <div class="results">
                    <div class="box">
                        <strong>Results:</strong>
                    </div>
                    <div class="box">
                        place: <div id="place"></div>
                    </div>
                    <div class="box">
                        date: <div id="date"></div>
                    </div>
                    <div class="box">
                        high: <div id="high"></div>
                    </div>
                    <div class="box">
                        low: <div id="low"></div>
                    </div>
                    <div class="box">
                        forecast: <div id="forecast"></div>
                    </div>
                    <div class="box">
                        image: <div id="image"></div>
                    </div>
                    <div class="box">
                        Subjectivity Confidence: <div id="subjectivityConfidence"></div>
                    </div>
                </div>
            </section>
        </main>

        <footer>
            <p>Michael Wycklendt      Udacity</p>
        </footer>

    </body>
</html>
