<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Test</title>
        <link rel="stylesheet" href="/styles/style.scss">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://fonts.googleapis.com/css?family=Arvo&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
        <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
    </head>

    <body>
    <div class="container">

        <div class="banner">
        <header>
                Travel Planner
        </header>
        </div>

        <main>
            <div class="trip">
                <div class="imagebox">

                    <div id="image"></div>

                </div>

                <div class="tripbox">

                        <div class="location" id="location"></div>
                        <div class="time" id="time"></div>

                    <button id='removeTrip'>Remove Trip </button>

                        <div class="daysUntil" id="daysUntil"></div>

                        <br>
                        <div class="typical">
                        Typical weather for then is:
                        </div>
                        <div class="high" id="high"></div>

                        <div class="forecast" id="forecast"></div>
                        <br><br>


                        

                </div>

            </div>
                <center>
                <div class="form">

                    <section>
                    <input id="place" type="text" name="input" value="" placeholder="Enter Location" size="48" required><br>
                    <input id="date" type="text" name="input" value="" placeholder="MM/DD/YYYY" size="48" required><br>
                    <button id="generate">Submit</button>
                    <button id='removeTrip'>Remove Trip </button>
                    <section>
                </div>
                </center>

        </main>
        <div class="footer">
        <footer>
            <p>Michael Wycklendt      Udacity</p>
        </footer>
        </div>
    </div>
    <script>
        // Check that service workers are supported
        if ('serviceWorker' in navigator) {
            // Use the window load event to keep the page load performant
            window.addEventListener('load', () => {
                navigator.serviceWorker.register('/service-worker.js');
            });
        }
    </script>
    </body>
</html>
