$font-stack: 'Montserrat', sans-serif;

.form{
    border: 1px solid #545454;
    border-radius: 3px;
    padding: 40px;
    .button{
        padding: 5px 20px;
        width: 100%;
        line-height: 16px;
        margin: 10px 0;
        background-color: white;
        border-color: black;;
        border-radius: 5px;
        font-family: $font-stack;
        color: black;
        &:hover{
            background-color: black;
            color: white;
        }
    }
}
